.entriesDisplayed, .tableNavigation {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.dropdown {
  display: flex;
  gap: 2px;
}

.table {
  border-collapse: collapse;
  border-spacing: 0;
  border: 1px solid black;
  width: 100%;
  margin: 1rem 0;
}

.heading {
  background: gainsboro;
  font-weight: bold;
  cursor: pointer;
}

.table th,
.table td {
  border: 1px solid gray;
  padding: 3px;
}

.table tr:nth-child(odd) {
  background: whitesmoke;
}

.pageSelection button {
  cursor: pointer;
}

.currentPage, .otherPage {
  width: 2rem;
  margin: 0 2px;
}

.currentPage {
  display: inline-block;
  text-align: center;
}

.disabled {
  position: relative;
  pointer-events: none;
  color: grey;
}